body {
     background-color: rgba(255, 244, 149, 0.815);
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    color: rgba(88, 73, 65, 0.89);
    font-family: 'Crete Round', serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rampart One', cursive;
}

input {
    width: 480px;
    border-radius: 20px;
    height: 50px;
    background-color: white;
    font-size: 18px;
    border: solid 2px rgba(88, 73, 65, 0.678);
    color: rgba(88, 73, 65, 0.89);
    font-family: 'Crete Round', serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rampart One', cursive;
    padding: 5px;
}

#randomButton {
    font-size: 20px;
}

button {
    margin: 20px;
    border-radius: 20px;
    height: 50px;
    background-color: white;
    border: solid 2px rgba(88, 73, 65, 0.623);
    color: rgba(88, 73, 65, 0.89);
    width: auto;
    font-family: 'Crete Round', serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rampart One', cursive;
    font-size: 17px;
    margin-right: 55px;
    margin-left: 55px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addCatName {
    border: rgba(0, 128, 0, 0.281) solid 2px;
}

#deleteCatName {
    border: rgba(255, 0, 0, 0.356) solid 2px;

}

ul {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-family: 'Crete Round', serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Rampart One', cursive;
}

h1 {
    font-size: 50px;
}

h3 {
    margin: 0;
}

h4 {
    font-size: 20px;
}

